<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
		 xmlns:beans="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
                <form-login 
		    login-page="/login" 
                    authentication-failure-url="/login?error" 
                    username-parameter="username"
                    password-parameter="password" />
                <csrf/>
		<logout logout-url="/logout" logout-success-url="/login" />
	</http>
        
        <beans:bean name="clientFactory" class="com.mycompany.bookstorewebapp.client.ClientFactory"></beans:bean>
                
        <beans:bean name="customAuthenticationProvider" class="com.mycompany.bookstorewebapp.authenticate.CustomAuthenticationProvider">
            <beans:property name="clientFactory" ref="clientFactory"/>
        </beans:bean>

	<authentication-manager>
            <authentication-provider ref="customAuthenticationProvider" />
        </authentication-manager>

</beans:beans>
