<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{/static/admin/assets/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link rel="stylesheet" th:href="@{/static/admin/assets/vendor/chartist/css/chartist-custom.css}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/static/admin/assets/css/main.css}">
	<!-- MY CSS -->
	<link rel="stylesheet" th:href="@{/static/admin/assets/css/style.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<!--TOAST -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
                <div th:replace="admin/fragments/navbar :: navbar"></div>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
                <div th:replace="admin/fragments/left-side-bar:: left-side-bar"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
                    <!-- MAIN CONTENT -->
                    <div class="main-content">
                        <div class="container-fluid">
                            <!-- OVERVIEW -->
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Thêm sách</h3>
                                </div>
                                <div class="panel-body">
                                    <form enctype="multipart/form-data" th:action="@{/admin/updatebook}" th:object="${bookUpdate}" method="post" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="idSach" class="col-sm-2 control-label">Mã sách</label>
                                            <div class="col-sm-10">
                                                <input readonly="true" type="text" class="form-control" th:field="*{id}" placeholder="Tên sách">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputTenSach" class="col-sm-2 control-label">Tên sách</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" th:field="*{name}" placeholder="Tên sách">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputTheLoai" class="col-sm-2 control-label">Thể loại</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" th:field="*{kind}" placeholder="Thể loại">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputTacGia" class="col-sm-2 control-label">Tác giả</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" th:field="*{author}" placeholder="Tác giả">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDonGia" class="col-sm-2 control-label">Đơn giá</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" th:field="*{price}" placeholder="Đơn giá">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAnhBia" class="col-sm-2 control-label">Ảnh bìa</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-file">
                                                            Browse… <input type="file" name="anhBia" id="anhBia" accept="image/png, image/jpeg, image/gif">
                                                        </span>
                                                    </span>
                                                    <input id='inputAnhBia' type="text" class="form-control" readonly>
                                                </div>
                                                <img id='img-upload'/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-warning">Cập nhật</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END MAIN CONTENT -->
                </div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
                <!-- FOOTER -->
                <div th:replace="admin/fragments/footer :: footer"></div>
                <!-- END FOOTER -->
	</div>
	<!-- END WRAPPER -->

	<!-- Javascript -->
	<script th:src="@{/static/admin/assets/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/admin/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/admin/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/static/admin/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>
	<script th:src="@{/static/admin/assets/vendor/chartist/js/chartist.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/static/admin/assets/scripts/klorofil-common.js}"></script>
	<script th:src="@{/static/admin/assets/scripts/custom.js}"></script>
</body>

</html>
